/* ACCUEIL BANNIERE*/
.bannière-site {
    position: relative;
    height: 60vh;
    background-image: url("../images/banniere-reverse.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 0 4px 0;
}
.img-accueil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 50vh;
}
.bannière-site > div {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}
.bannière-right {
    right: 0;
    border-left: 2px solid white;
}
.bannière-left {
    left: 0;
    border-right: 2px solid white;
}
.bannière-site > div > a{
    width: 80%;
    padding: 15px;
    border-radius: 30px;
    margin-top: 40%;
    background-color: #b8bbbd;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 4px solid white;
    transition: all 0.2s ease-in 0s;
}
.bannière-site > div > a:hover {
    background-color: white;
    color: #00aa9c;
    border: 4px solid #00aa9c;
}
.buttonIsHover {
    background-color: rgba(0, 0, 0, 0) !important;
}

/*** Animation formulaire ***/
.form-accueil {
    width: 0%;
    height: 100%;
    background-color: #00aa9c;
}
.form-accueil-content {
    display: none;
    margin-top: 10em;
}
.form-accueil select {
    color: white;
    border: none;
    background-color: #00aa9c;
    border-radius:0px;
    border-bottom: 3px solid white;
}
.form-accueil :focus {
    background-color: #00aa9c;
    color: white;
}
.close-form {
    position: absolute;
    cursor: pointer;
    top: 0;
    margin: 3%;
} #close-tl {
    right: 0;
} #close-pl {
    left: 0;
}

.title-accueil-form {
    letter-spacing: 5px;
    border: 2px solid white;
    padding: 10px;
    width: fit-content;
    margin: 2% auto;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-top: 8%;
}
.color-white {
    color: white;
}
/* ACCUEIL COMMENT-CA-MARCHE */



.bandeau {
    margin-top: 3em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.6) 1px 2px 2px;
    padding: 1em 0px 1em 0px;
    border-top: 7px solid #00aa9c;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}