/* PAGE D'INSCRIPTION */
.register {
    
    padding: 3%;
}
.register-left {
    text-align: center;
    background:  linear-gradient(to top, rgba(0, 170, 156, 0.5) , rgba(0, 170, 156, 0.3));
    
    border-top: 10px solid #00aa9c;
    border-bottom-left-radius: 10px;
   
}
.register-left img {
    
    border-radius: 100px;
}
.register-left .btn-connexion {
    display: block;
    width: 60%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: rgba(0, 0, 0, 0.9);
    
    color: #fff;
    cursor: pointer;
    margin: auto;
}
.register-left .btn-connexion:hover {
    text-decoration: none;
    color: white;
}
.register-right {
    background: white;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 10px solid grey;
    border-bottom-right-radius: 10px;
}
.register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p {
    font-weight: lighter;
    
    margin-top: 6%;
}
.register input {
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0px;
}
.register .register-form {
    padding: 0 10% 10% 10%;
    margin-top: 5%;
}
.btn-inscription {
    float: right;
    margin-top: 5%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #00aa9c;
    color: #fff;
    width: 70%;
    cursor: pointer;
    transition: all 0.2s;
}
.btn-inscription:hover {
    opacity: 0.9;
}
.btn-inscription:focus {
    outline: none;
}
.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover {
    border: none;
}
.register .nav-tabs .nav-link.active {
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading {
    text-align: center;
    margin-top: 5%;
    color: #495057;
}
/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .register {
        background: #00aa9c;
    }
}








/* PAGE DE CONNEXION */
.connexion input {
    border: none;
    border-bottom: 2px solid #495057;
    color: white;
    border-radius: 0;
   
}
.connexion .card-title {
    color: Black;
   
    padding-bottom: 0.4em;
    padding: 0.2em;
    
}
.form-control:focus {
    box-shadow: none;
    border-color: initial;
}
.connexion ::placeholder {
    color: white;
}
.connexion input:focus {
    
    color: #495057;
    outline: none;
}
.connexion input:focus select:focus {
    border: none;
    outline: none;
}
.card-body {
    border-top: 10px solid #00aa9c;
    box-shadow: grey 2px 2px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    
}
.custom-control-label {
    margin-top: 1.5em;
}
.connexion button {
    margin-top: 3em;
}
.card-signin {
    border: 0;
    
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.link-white {
    color: #00aa9c;
}
.link-white:hover {
    color: #00aa9c;
    text-decoration: none;
    opacity: 0.7;
}

.card-signin .card-title {
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: 50px;
    
    padding-left: 15px;
}

.form-label-group>label {
    padding: 12px 15px;
    background: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}
/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
    display: none;
    }
    .form-label-group input::-ms-input-placeholder {
    color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
    display: none;
    }
    .form-label-group input:-ms-input-placeholder {
    color: #777;
    }
}