/* FAQ */
.faqHeader {
    padding-top: 20px;
}
a.accordion-toggle {
    color: #00aa9c;
}
/* FORMULAIRE DE CONTACT */
.form-required {
    color: #00aa9c;
}
#contact-form {
    width: 100%;
    padding: 5% 3% 5% 3%;
    border-radius: 5px;
    background: transparent;
    background-color: #00aa9c;
    color: white;
    box-shadow: grey 5px 5px 5px;
}
.border-form {
padding-bottom: 20px;
}
#contact-form ::placeholder {
    color: white;
    padding-bottom: 10px ;
    border-radius: 0;
}
#contact-form input {
    background-color: #00aa9c;
    border: none;
    border-bottom:2px solid white ;
    width: 100%;
    color: white;
    
}
.formpart1 > div > input:focus, .formpart2 > div > input:focus, .formpart2 > div > select:focus, .formpart2 > textarea:focus {
    outline: none;
    
}


#contact-form textarea {
    margin-top: 15px;
    background-color: #00aa9c;
    color: white;
    
    border: 2px solid white;
}
.btn-form {
    width: 100%;
    background-color: white !important;
    color: #00aa9c !important;
    height: 50px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.6s;
    
}
.btn-form:hover {
    transform: scale(1.02);
    



}

.comments-error {
    font-style: italic;
    color: red;
}
.thanks-form {
    font-size: 30px;
    
    color: white;
    margin: 1% auto;
    text-align: center;
}

.form-margin {
    padding-top: 4% ;
}
.form-social {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    
}
.form-social a:hover {
    opacity: 0.8;
}
.links-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.test {
    border-bottom: 3px solid #00aa9c;
    padding-bottom: 10px;
}
#contact-form .form-control {
   border: 1px solid grey;
}
.links-form {
    text-align: center;
    color: black;


}
.links-form h3 {
    font-weight: bold;
    padding:5% 0%;
}
.form-style {
    border-bottom: 3px solid #00aa9c;
padding-bottom: 10px;
width: 90px;
}