/* TROUVER UN LOGEMENT */
i.fa-search {
    font-size: 20px;
    color: white; 
    border: 3px solid white;
    padding: 7px; 
    border-radius:5px;
}

.select-ville {
    margin-top: 7px;
}

.color-padaj {
    color: white;
}

.margin-t {
    margin-top: 5% !important;
}

.img-localisation {
    margin-top: -10%;
    margin-left: 2%;
}

.next-button, .margin-b {
    margin-bottom: 3%;
}
.trouver-logement {
    margin-top: 100px;
    color: black;
   border: 1px solid black;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
    border-radius: 10px;
    margin-bottom: 50px;
    

}
.trouver-logement input {
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0px;
}
.trouver-logement select {
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0px;
}
button i.fa-search {
    color: white;
    background-color: black;
    border: 2px solid black;
}
button i.fa-search:hover {
    opacity: 0.7;
}
.btn-logement {
    margin-top: 50px;
}
.services-logement {
    margin-top: 20px;
  
}

.trouver-logement h6 {
    color: black;
}
.services {
    text-transform: uppercase;
    
}

/* ARTICLE STYLE */
.logement-found {
    font-weight: 500;
    width: fit-content;
    margin-top: 1.5em ;
    margin-bottom: 1em ;
    color: black;
    text-align: left;
    font-size: 26px;
}
.article-logement {
    
   color: black;
    border-top: 1px solid rgba(58, 58, 58, 0.2);
    
   margin-top: 10px;
    transition: all 0.2s;
    
    
}
.article-logement img {
    width: 100%;
    margin-bottom: 10px;
    

    
    
}
.service-effectuables  {
    color: grey;
    text-align: left;
}
.service-effectuables li {
list-style-type: none;
}
.prix-location {
    color: white;
    background: linear-gradient(to left, rgb(0, 170, 156, 0.7), rgb(0, 170, 156, 0.9));
    padding: 10px 0px;
    margin: 20px 0px;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: grey 1px 1px 1px;
    border-radius: 100px;
}
.size {
    
    font-size: 25px;   
}
.size1 {
    font-size: 20px;
}
a.article-link:hover {
    text-decoration: none;
   
}


@media screen and (max-width: 600px) {
    .article-logement {
        width: 100%;
    }
}

/* DETAIL LOGEMENT */
.bandeau > img {
    width: 100%;
}
.infos > div {
    width: 33%;
    padding: 5px;
}
.infos > div:nth-child(n+2) {
    border-left: 3px solid #00aa9c;
}

.fav-button {
    background: none;
    border: none;
}