
/* GENERAL */

body {
    font-family: 'Lato', sans-serif;
    background-color: white;
}


.site-max-width {
    max-width: 80%;
}

.content {
    padding-top: 100px;
    background-color: white;
    
    
}
.color-green {
    color: #00aa9c;
}
.bold-text {
    font-weight: bold;
}
Style  {
    background-color: white;
}
.no-hamburger {
    display: inherit;
}
.hamburger {
    display: none;
}
.bloc-green {
    border: 1px solid #00aa9c;
    width: 120px;
    height: 100px;
    margin: auto;
    margin-bottom: 1em;
}
.bandeau-grey {
    color: white;
    border: 1px solid #00aa9c;
    height: 330px;
    background-color: grey;
    border-radius: 10px;
}

/* HEADER */
.bg-padaj {
    background-color: white;
}
.page-header h1 {
    margin: 30px;
    color: #00aa9c; 
}

.header-css {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}
.header-green {
    color: #00aa9c !important;
    font-size: 19px;
}
a.logo-hover:hover {
    opacity: 0.8;
}
.nav-link:hover {
    opacity: 0.8;
    
}

.dropdown-menu {
    left: auto;
    right: 0;
    border-color: #636363;
    border-radius: 5px;
    border-width: 2px;
    padding: 0;
}
.dropdown-menu::before {
    content: "\A";
    position: absolute;
    left: 148px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #636363 transparent;
}
.dropdown-item {
    font-size: 15px;
    text-align: center;
}
.dropdown-item:hover {
    background-color: initial;
    color: #636363 !important;
}
.text-dropdown {
    margin: 5px 0 0 0;
    text-align: center;
    font-size: 18px;
    color: #636363;
    font-weight: bold;
}
.btn-dropdown {
    height: 30px;
    padding: 2px 20px;
    margin: 0px 13px;
}
.form-deco {
    width: fit-content;
    margin: 10px auto;
}
/*CSS intérieur du menu hamburger*/
.nav-item {
    width: fit-content;
}
.nav-not-link {
    padding: .5rem 0rem;
    margin: 0;
}
.nav-item-img > img {
    vertical-align: -11px;
}
.nav-item-text {
    margin-left: 10px;
}


@media screen and (max-width: 991px) {
    .no-hamburger {
        display: none;
    }
    .hamburger {
        display: block;
    }
}


/* FOOTER */

footer a {
    color: #00aa9c;
    text-decoration: underline;
}

footer a:hover {
    opacity: 0.7;
    color: #00aa9c;
    
}

footer {
    border-top: 1px solid grey;
    background-color: white;
    padding-bottom: 2em;
    padding-top: 2em;
    margin-top: 7em;
    color: #636363;
    
   

}
footer h3 {
    color: #00aa9c;
    font-size: 25px;


}
footer ul {
    padding-bottom: 20px;
}
.form-footer{
    margin: auto;
    width: 350px;
    
}
.newsletter {
    
    border-radius: 10px;
    
}
footer .form-control {
    border: 1px solid grey;
    margin-bottom: 10px;
}
.separator-green {
    border: 2px solid #00aa9c;
}

@media screen and (max-width: 1200px) {
    .footer-part1 {
    
        border-left:none;
    }

}
@media screen and (max-width: 900) {
    footer {
        text-align: center;
    }
}
    